/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.navbar-inner {
	background-color: #6092A6; 
	background-image: none;
	background-repeat: no-repeat;
	filter: none;
	color: #ffffff;
}
.navbar a.brand {
	text-decoration: none;
	text-shadow: 0;
	color: #ffffff;
}
.navbar a:hover, a:focus, a:active {
	color: #9FDCF0;
	text-shadow: 0;
}

a {
	color: #6092A6;
}
a:visited {
	color: #aaaaaa;
}
a:hover, a:focus, a:active {
    color: #476C7A;
    background-color: inherit;
}

h4{
	color: #8CC8D9;
}
h1, h3 {
	color: #6092A6;
}